<div class="add-temp-form text-center">
        <h1>Temperature Weather Log</h1>
        <div class="form-group">
            <input class="form-control input-lg" placeholder="Enter Temperature" 
            autofocus=""
            #temperatureText>
            <br>
            <button (click)="addTemperature($event,temperatureText)" class="btn btn-primary btn-block">Add Temperature</button>
        </div>
    </div>
    <div> Average: {{average}}°c  Highest: {{highest}}°c     Lowest: {{lowest}}°c     Median: {{median}}°c </div>
    <br>
    <div class="form-group temp-log-list">
            <ul class="list-inline"> 
                    <li class="list-inline-item"> date</li>
                    <li class="list-inline-item"> temperature.temperature &#x2103;</li>
                    <li class="list-inline-item"> <button class="btn btn-danger pull-right">Delete</button></li>
            </ul><br>
    </div>