<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <label>Temperature</label>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <input type="number" formControlName="temperature" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.temperature.errors }" />
                <div *ngIf="submitted && f.temperature.errors" class="invalid-feedback">
                    <div *ngIf="f.temperature.errors.required">Temperature is required</div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <button class="btn btn-primary">Add Temperature </button>
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr class="table-primary">
                    <th scope="col">Average: {{ statistics?.average }} °c</th>
                    <th scope="col">Highest: {{ statistics?.highest }} °c</th>
                    <th scope="col">Lowest: {{ statistics?.lowest }} °c</th>
                    <th scope="col">Median: {{ statistics?.median }} °c</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
              <tr class="table-primary">
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Temperature</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let log of temperatureLogs; let i = index">
                <th scope="row">{{i + 1}}</th>
                <td>{{log.createdAt | date: 'mediumDate'}}</td>
                <td>{{log.temperature}} °c</td>
                <td>
                    <button class="btn btn-danger" (click)="deleteTemperatureLog(log)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>